@media (min-width: 500px) {
  .main_showcase .showcase_content h1 {
    font-size: 16vw;
  }
  .main_showcase .showcase_content span {
    font-size: 4vw;
  }

  .main_showcase .showcase_content .book_now_btn {
    font-size: 4vw;
  }
}

@media (min-width: 550px) {
  /* About section  */
  main .about .landing_container {
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  main .about h2 {
    width: 100%;

    align-self: stretch;
    text-align: center;
  }

  main .about p {
    width: 50%;
  }
  main .about figure {
    width: 50%;
    margin: 0;
  }
}

@media (min-width: 800px) {
  .main_showcase .showcase_content h1 {
    font-size: 13vw;
  }

  /* desktop nav-bar */
  .page_header .navbar {
    background-color: rgba(0, 0, 0, 0.849);
    height: 10vh;
  }
  .navbar .navbar_list {
    flex-direction: row;

    height: 10vh;

    justify-content: flex-end;
    margin: 0;
    padding-right: 5vw;
  }

  .navbar_list .navbar_item a {
    font-size: 1.3em;
    margin: 20px;
  }

  .navbar_list .navbar_item a:hover {
    font-size: 1.5rem;
  }

  /* about section */

  main .about figure {
    width: 302px;
  }

  main .about .landing_container {
    max-width: 800px;
  }

  .about .landing_container p {
    margin-right: 20px;
  }

  main .contact .landing_container {
    width: 40vw;
    padding: 2em;
  }
}

@media (min-width: 1200px) {
  .main_showcase .showcase_content h1 {
    font-size: 10vw;
  }

  .main_showcase .showcase_content span {
    font-size: 4vw;
  }
}
