@import url("https://fonts.googleapis.com/css2?family=Playball&family=Ubuntu&display=swap");
@import url(/CSS/media.css);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Ubuntu", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playball", cursive;
}
/* Header */
.page_header {
  position: relative;
  display: none;
}

/* Nav Bar mobile*/
.navbar {
  position: fixed;
  background-color: rgba(10, 9, 8, 0.699);
  z-index: 1;
  height: 100vh;
  width: 100vw;
}

.navbar_list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 80vh;
}

.navbar_item {
  list-style: none;
  font-family: "ubuntu", sans-serif;
}

.navbar_item a {
  text-decoration: none;
  color: white;
  font-size: 2rem;
}
.navbar_item a:hover {
  text-decoration: underline;
  color: #36da21;
  font-size: 2.5rem;
}

/* showcase */
.main_showcase {
  background: url(/img/thai-food.jpg) center no-repeat;
  background-size: cover;
  height: 100vh;
  border-bottom: 5px solid white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.showcase_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.788);
  padding: 0 5%;
}

.showcase_content h1 {
  font-size: 20vw;
  color: red;
  text-decoration: underline;
}

.showcase_content span {
  font-size: 7vw;
  color: white;
}

.showcase_content .book_now_btn {
  margin: 5%;
  padding: 2%;
  border-radius: 10px;
  background-color: white;
  font-size: 8vw;
  background: red;
  color: white;
  font-family: "Playball", cursive;
}

/* Sections */
section {
  min-height: 100vh;
  border-bottom: 5px solid red;
}

.landing_container h2 {
  font-size: 50px;
}
/* services section */
.services {
  background: center url(/img/dinnertable.jpg);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.services .landing_container {
  background-color: rgba(255, 255, 255, 0.685);

  margin: 0 5vw;
  padding: 5vh 7vw;
  border-radius: 10px;
}

.services .landing_container p {
  margin: 5vh;
}

.landing_container li {
  margin: 5%;
  list-style: square;
}

/* cooking style */

.cooking_style {
  display: flex;
  flex-direction: column;
  justify-content: center;

  background: center/ cover url(/img/Ingredients.jpg);
}

.cooking_style .landing_container {
  background: rgba(0, 0, 0, 0.6);
  margin: 5vw;
  border-radius: 10px;
  padding: 10vw;
}

.cooking_style h2 {
  background: linear-gradient(to top right, red, green);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 5px;
  margin-bottom: 4vh;
  width: fit-content;
}

.cooking_style p {
  color: #fff;
  line-height: 1.5em;
}

/* About */

.about {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  background: right / cover url(/img/spices.jpg);
}

.about .landing_container {
  background: rgba(255, 255, 255, 0.5);
  margin: 5vw;
  padding: 50px;
  border-radius: 10px;
}

.about h2 {
  color: red;
}
.about p {
  width: fit-content;
  line-height: 1.5em;
  font-weight: bold;
  margin: 1em 0;
  font-size: 1.2em;
}

.about img {
  width: 100%;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

.about figcaption {
  text-align: end;
}
/* Footer */

.page_footer {
  background-color: #0a0908;
  min-height: 5vh;
  color: #fff;
}
