@import url('https://fonts.googleapis.com/css2?family=Playball&family=Ubuntu&display=swap');

* {
box-sizing: border-box;
margin: 0;
padding: 0;
}
body {
    font-family: 'Ubuntu', sans-serif;
}

h1,h2, h3,h4, h5, h6{
font-family: 'Playball', cursive;
}
/* Header */
.page_header {
    background-color: #0A0908;
    
}

/* Nav Bar */

/* showcase */
.main_showcase {
    background: url(/img/thai-food.jpg) center no-repeat;
    background-size: cover;
    height: 100vh;
    border-bottom: 5px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.showcase_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.788);
    padding: 0 5%;
}

.showcase_content h1 {
    font-size: 20vw;
    color: red;
    text-decoration: underline;
    
}

.showcase_content span {
    font-size: 7vw;
    color: white;
        
}

.showcase_content .book_now_btn{
    margin: 5%;
    padding: 2%;
    border-radius: 10px;
    background-color: white;
    font-size: 8vw;
    background: red;
    color: white;
    font-family: 'Playball', cursive;
}


/* Sections */
section {
    height: 100vh;
    border-bottom: 5px solid red;
}
/* Footer */

.page_footer {
    background-color: #0A0908;
    min-height: 5vh;
    color: #fff;
}